# Pandas First Exercises
Dear Students this notebook contains simple exercises for beginners to practice basic Pandas operations such as creating Series, DataFrames, saving files, and importing data.

### Exercise 1: Creating Pandas Series

1. Create a Pandas Series containing the marks of 5 students in Maths.
2. Create a Pandas Series that stores 5 city names.
3. Create a Pandas Series with 5 different floating-point numbers representing temperature readings.

In [1]:
#answer here
import pandas as pd

marks = pd.Series([45,56,57,34,55])
city = pd.Series(["up","mp","uk","ap"])
temp = pd.Series([23.4,45.3,56.3,22.3])

print(marks)
print(city)
print(temp)

0    45
1    56
2    57
3    34
4    55
dtype: int64
0    up
1    mp
2    uk
3    ap
dtype: object
0    23.4
1    45.3
2    56.3
3    22.3
dtype: float64

### Exercise 2: Creating DataFrames from Series

1. Create two Series: one containing student names and another containing their ages. Combine them into a single DataFrame.
2. Create three Series: 'Product Name', 'Price', and 'Quantity'. Combine them into one DataFrame and display it.

In [13]:
#answer here
name = pd.Series(["hum","tum","uppp"])
age = pd.Series([34,45,23])
df = pd.concat({"name":name,"age":age},axis=1)
print(df)

product = pd.Series(["hardware","software"])
price = pd.Series([4500,678])
quantity = pd.Series([4,6])
af = pd.concat({"product":product,"price":price,"quantity":quantity},axis=1)
print(af)

   name  age
0   hum   34
1   tum   45
2  uppp   23
    product  price  quantity
0  hardware   4500         4
1  software    678         6

### Exercise 3: Creating DataFrames from Dictionaries

1. Create a dictionary with keys as 'Name', 'Age', and 'City', each containing a list of 3 values. Convert it into a DataFrame.
2. Create a dictionary with keys 'Product', 'Category', and 'Price'. Convert it into a DataFrame and print it.

In [23]:
#answer here
my_dict = {
    'name':["atul","ravi","anup"],
    'age':[34,78,29],
    'city':["delhi","haryana","bihar"]
}

df = pd.DataFrame(my_dict)
print(df)

my_dict2 = {
    'product':["phone","laptop","charger"],
    'category':["electronic","makeup","something"],
    'price':[456,678,39430]
}

cf = pd.DataFrame(my_dict2)
print(cf)

   name  age     city
0  atul   34    delhi
1  ravi   78  haryana
2  anup   29    bihar
   product    category  price
0    phone  electronic    456
1   laptop      makeup    678
2  charger   something  39430

### Exercise 4: Saving DataFrames to CSV and Excel

1. Save any one of your created DataFrames into a CSV file named 'students.csv'.
2. Save another DataFrame into an Excel file named 'products.xlsx'.

In [28]:
df.to_csv("Student_CSV.csv")
cf.to_excel("Student.xlsx")

### Exercise 5: Reading Data from Files

1. Use Pandas to read the CSV file 'students.csv' that you created earlier.
2. Use Pandas to read the Excel file 'products.xlsx' that you created earlier.

In [5]:
#answer here
var = pd.read_csv(r"C:\Users\EliteBook\Documents\Student_CSV.csv")

In [31]:
var = pd.read_excel(r"C:\Users\EliteBook\Documents\Student_XLSX.xlsx")